.Notification {
    z-index: 99;
    position: fixed;
    top: 10%;
    box-shadow: 0 8px 6px -6px black;
    transition: ease-in 1s;
    display: flex;
    margin: 1rem;
    border-radius: 10px;
    border: 0;
    padding: 2rem;
    background-color: var(--warning-bright);
    width: 30%;
    justify-content: space-between;
}

.icon:hover {
    transition: ease-in 0.25s;
    color: var(--neutral-dark);
    cursor: pointer;
    opacity: 0.7;
}

.show {
    animation-name: slideDown;
    animation-duration: 1s;
    visibility: visible;
}

.hide {
    animation-name: slideUp;
    animation-duration: 1s;
    visibility: hidden;
}

@keyframes slideDown {
    0% {
        top: -20%;
        visibility: hidden;
    }

    75% {
        top: 11.5%;
        visibility: visible;
    }

    100% {
        top: 10%;
        visibility: visible;
    }
}

@keyframes slideUp {
    0% {
        top: 10%;
        visibility: visible;
    }

    25% {
        top: 11.5%;
        visibility: visible;
    }

    100% {
        top: -20%;
        visibility: hidden;
    }
}