.Notification {
    z-index: 99;
    position: fixed;
    top: 0;
    box-shadow: 0 8px 6px -6px black;
    transition: ease-in 1s;
    display: flex;
    margin: 1rem;
    border-radius: 10px;
    border: 0;
    padding: 2rem;
    background-color: var(--warning-bright);
    width: 30%;
    justify-content: space-between;
    height: 100px;
}

.icon:hover {
    transition: ease-in 0.25s;
    color: var(--neutral-dark);
    cursor: pointer;
    opacity: 0.7;
}

.show {
    animation-name: var(--animate-slideDown);
    animation-duration: 3s;
}

.hide {
    animation-name: var(--animate-slideUp);
    animation-duration: 3s;
}