@keyframes slideDown {
    0% {
        top: -20%;
        visibility: hidden;
    }

    100% {
        top: 10%;
        visibility: visible;
    }
}

@keyframes slideUp {
    0% {
        top: 10%;
        visibility: visible;
    }

    100% {
       top: -20%;
       visibility: hidden;
    }
}